{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">

    <!-- Cargo CSS de BS local -->
   <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'bootstrap/css/icons.css' %}">
   <script src="{% static 'bootstrap/js/jquery-3.5.1.js' %}"></script>
   <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
   <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <title> {% block title %}Koe - Concesionarias{% endblock %}</title>


  </head>
  <body>
    <div class="container-fluid">

      {% block encabezado %}

        <div class="container-fluid bg-dark">
          <h6 style="color:white;">Empresa: Concesionaria Cemar | Victoria | Entre Ríos</h6>
        </div>
        <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
          <a class="navbar-brand" href="#">Koe - Concesionarias<span class="badge badge-secondary">v1.0</span></a>
          <!-- DEPRECATED
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        -->


          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'concesionaria:tablon' %}">Inicio <span class="sr-only">Inicio</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'concesionaria:lista_persona' %}">Personas</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rodados
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'concesionaria:lista_rodado' %}">Ingresos</a>
                  <a class="dropdown-item" href="{% url 'concesionaria:lista_venta' %}">Ventas</a>
                  <a class="dropdown-item" href="{% url 'concesionaria:lista_documentacionrodado' %}">Documentación rodado</a>
                  <a class="dropdown-item" href="{% url 'concesionaria:lista_gastorodado' %}">Gasto rodado</a>

                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'concesionaria:lista_disponibles' %}">Disponibles</a>
                </div>

              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Administración
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'concesionaria:lista_cobranzatransferencia' %}">Cobranza transferencia</a>
                </div>

              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Configuración
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'concesionaria:lista_documentacion' %}">Documentación</a>
                  <a class="dropdown-item" href="{% url 'concesionaria:lista_categoria' %}">Categorías rodados</a>
                  <a class="dropdown-item" href="{% url 'concesionaria:lista_relacion' %}">Relaciones frente a IVA</a>
                  <a class="dropdown-item" href="{% url 'concesionaria:lista_gasto' %}">Conceptos de gastos</a>
                  <!--
                  NO IMPLEMENTADO
                  <a class="dropdown-item" href="{% url 'concesionaria:lista_formapago' %}">Formas de pago</a>
                -->
                  <a class="dropdown-item" href="{% url 'concesionaria:lista_marca' %}">Marcas</a>
                  <a class="dropdown-item" href="{% url 'concesionaria:lista_tipomotor' %}">Tipos de motores</a>
                  <a class="dropdown-item" href="{% url 'concesionaria:lista_color' %}">Colores</a>
                  <a class="dropdown-item" href="{% url 'concesionaria:lista_estadocivil' %}">Estados civiles</a>

                    <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'concesionaria:lista_caja' %}">Cajas</a>
                </div>

              </li>



              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sistema
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'logout' %}"><i class="gg-log-off"></i>Cerrar sesión</a>
                </div>
              </li>
            </ul>
          </div>
          <button type="button" class="btn btn-danger">
              Transferencias pendientes <span class="badge badge-light">4</span>
          </button>
        </nav>


        </div>

      {% endblock %}

      {% block contenido %}

      {% endblock %}


      {% block pie %}
      <footer style="text-align:right; color:grey; margin-right:50px;">
        <p>Koe - Concesionarias<br>
        Desarrollado por Delfor Hernán Castro</p>
      </footer>
      {% endblock %}

    </div>


    <script>
    $(document).ready(function(){
      $("#busqueda").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#tabla tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>

  </body>
</html>
