{% extends 'base/base.html' %}



{% block contenido %}

  {% if validlink %}

  <h2>Nueva contraseña</h2>
  <form method="post">
    {% csrf_token %}

    {{ form.new_password1.errors }}
    <label for="id_new_password1">Nueva contraseña</label> {{ form.new_password1 }}

    {{ form.new_password2.errors }}

    <label for="id_new_password2">Confirme contraseña</label> {{ form.new_password2 }}

    <button type="submit" name="button">Cambiar mi contraseña</button>
  </form>

  {% else %}
  <h4>Enlace inválido</h4>
  {% endif %}


{%  endblock %}
