{% extends 'base/base.html' %}



{% block contenido %}

<p>Recuperar contraseña</p>
<form method="post">
  {% csrf_token %}
  <<label for="id_email">Correo electrónico</label> {{ form.email }}
  <button type="submit" name="button">Enviar</button>


</form>

{%  endblock %}
