{%  extends 'base/base.html' %}

{% block contenido %}


<div class="row justify-content-center">

    <div class="col-sm-8">

      <div class="d-flex flex-row-reverse bg-primary">
      <div class="p-4 bg-light">{% block titulo_lista %}{% endblock %}</div>
      </div>

      {% block boton_superior %}

      {% endblock %}
      <input class="form-control" id="busqueda" type="text" placeholder="Búsqueda..."> <br>

      {% block lista_contenido %}

      {% endblock %}
</div>
</div>



{% endblock %}
