{%  extends 'concesionaria/lista/base_lista.html' %}

{% block titulo_lista %} Configuración - Cajas{% endblock %}

  {% block boton_superior %}
  <a class="btn btn-outline-success" href="{% url 'concesionaria:nuevo_gasto' %}">Agregar caja</a>
  {% endblock %}

{% block lista_contenido %}

<table id="listaGasto" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Denominación</td>
    </tr>
  </thead>
  <tbody id="tabla">
    <!-- Veo si hay registros de boleterías para mostrar-->
    {% if object_list %}
      {% for caja in object_list %}
        <tr>
          <td>{{caja.id}}</td>
          <td>{{caja.denominacion}}</td>
          <td>
            <div class="dropdown">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Acciones
             </button>
             <div class="dropdown-menu">
                 <a class="dropdown-item" href="{% url 'concesionaria:editar_caja' caja.id %}">Editar</a>
            </div>

          </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay cajas registradas en el sistema</h1>
    <a class="btn btn-outline-success" href="{% url 'concesionaria:nueva_caja' %}">Agregar caja</a>
    {% endif %}
  </tbody>
</table>
{% endblock %}
