{%  extends 'concesionaria/lista/base_lista.html' %}

{% block titulo_lista %} Configuración - Categorías{% endblock %}


  {% block boton_superior %}
  <a class="btn btn-outline-success" href="{% url 'concesionaria:nueva_categoria' %}">Agregar categoría rodado</a>
  {% endblock %}

{% block lista_contenido %}

<table id="listaCategoria" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Denominación</td>
    </tr>
  </thead>
  <tbody id="tabla">
    <!-- Veo si hay registros de boleterías para mostrar-->
    {% if object_list %}
      {% for categoria in object_list %}
        <tr>
          <td>{{categoria.id}}</td>
          <td>{{categoria.denominacion}}</td>
          <td>
            <div class="dropdown">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Acciones
             </button>
             <div class="dropdown-menu">
                 <a class="dropdown-item" href="{% url 'concesionaria:editar_categoria' categoria.id %}">Editar</a>
                 <a class="dropdown-item" href="{% url 'concesionaria:eliminar_categoria' categoria.id %}">Eliminar</a>
             </div>

          </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay categorías de rodados registradas en el sistema</h1>
    <a class="btn btn-outline-success" href="{% url 'concesionaria:nueva_categoria' %}">Agregar categoría rodado</a>
    {% endif %}
  </tbody>
</table>
{% endblock %}
