{%  extends 'concesionaria/lista/base_lista.html' %}
{% load humanize %}
{% block titulo_lista %} Pendientes de transferencia{% endblock %}



{% block lista_contenido %}
<table id="listaPendientesTransferencia" class='table table-dark table-hover'>
  <thead>
    <tr>
      <td>#</td>
      <td>Categoría</td>
      <td>Marca</td>
      <td>Denominación</td>
      <td>Año</td>
      <td>Patente</td>
      <td>Color</td>

    </tr>
  </thead>
  <tbody id="tabla">
    <!-- Veo si hay registros de boleterías para mostrar-->
    {% if pendientes %}
      {% for pendiente in pendientes %}
        <tr>
          <td>{{pendiente.rodado.id}}</td>
          <td>{{pendiente.rodado.categoria.denominacion}}</td>
          <td>{{pendiente.rodado.marca.denominacion}}</td>
          <td>{{pendiente.rodado.denominacion}}</td>
          <td>{{pendiente.rodado.modelo}}</td>
          <td>{{pendiente.rodado.patente}}</td>
          <td>{{pendiente.rodado.color}}</td>

          <td>
            <div class="dropdown">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Acciones
             </button>
             <div class="dropdown-menu">
               <!--
               <a class="dropdown-item" href="{% url 'concesionaria:estado_rodado' pendiente.id %}">Registrar pago</a>
               -->
             </div>

          </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay ventas registradas en el sistema</h1>
    <a class="btn btn-outline-success" href="{% url 'concesionaria:nueva_venta' %}">Agregar venta</a>
    {% endif %}
  </tbody>
</table>
{% endblock %}
