{%  extends 'concesionaria/lista/base_lista.html' %}

{% block titulo_lista %} Configuración - Colores{% endblock %}

  {% block boton_superior %}
  <a class="btn btn-outline-success" href="{% url 'concesionaria:nuevo_color' %}">Agregar color</a>
  {% endblock %}

{% block lista_contenido %}

<table id="listaColor" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Denominación</td>
    </tr>
  </thead>
  <tbody id="tabla">
    <!-- Veo si hay registros de boleterías para mostrar-->
    {% if object_list %}
      {% for color in object_list %}
        <tr>
          <td>{{color.id}}</td>
          <td>{{color.denominacion}}</td>
          <td>
            <div class="dropdown">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Acciones
             </button>
             <div class="dropdown-menu">
                 <a class="dropdown-item" href="{% url 'concesionaria:editar_color' color.id %}">Editar</a>
                 <a class="dropdown-item" href="{% url 'concesionaria:eliminar_color' color.id %}">Eliminar</a>
             </div>

          </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay colores registrados en el sistema</h1>
    <a class="btn btn-outline-success" href="{% url 'concesionaria:nuevo_color' %}">Agregar color</a>
    {% endif %}
  </tbody>
</table>
{% endblock %}
