{%  extends 'concesionaria/lista/base_lista.html' %}
{% load humanize %}
{% block titulo_lista %} Disponibles{% endblock %}

  {% block boton_superior %}
  <a class="btn btn-outline-success" href="{% url 'concesionaria:nuevo_rodado' %}">Agregar rodado</a>
  {% endblock %}

{% block lista_contenido %}
<table id="listaDisponibles" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Categoría</td>
      <td>Marca</td>
      <td>Denominación</td>
      <td>Año</td>
      <td>Patente</td>
      <td>Color</td>
      <td>Tiempo en stock</td>
    </tr>
  </thead>
  <tbody id="tabla">
    <!-- Veo si hay registros de boleterías para mostrar-->
    {% if disponibles %}
      {% for disponible in disponibles %}
        <tr>
          <td>{{disponible.rodado.id}}</td>
          <td>{{disponible.rodado.categoria.denominacion}}</td>
          <td>{{disponible.rodado.marca.denominacion}}</td>
          <td>{{disponible.rodado.denominacion}}</td>
          <td>{{disponible.rodado.modelo}}</td>
          <td>{{disponible.rodado.patente}}</td>
          <td>{{disponible.rodado.color}}</td>
          <td>{{disponible.fechaCompra|naturaltime}}</td>
          <td>
            <div class="dropdown">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Acciones
             </button>
             <div class="dropdown-menu">
               <a class="dropdown-item" href="{% url 'concesionaria:estado_rodado' disponible.id %}">Estado</a>
             </div>

          </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay ventas registradas en el sistema</h1>
    <a class="btn btn-outline-success" href="{% url 'concesionaria:nueva_venta' %}">Agregar venta</a>
    {% endif %}
  </tbody>
</table>
{% endblock %}
