{%  extends 'concesionaria/lista/base_lista.html' %}

{% block titulo_lista %} Registro de documentación por rodado{% endblock %}

  {% block boton_superior %}
  <a class="btn btn-outline-success" href="{% url 'concesionaria:nueva_documentacionrodado' %}">Agregar documentación rodado</a>
  {% endblock %}

{% block lista_contenido %}
<table id="listaVenta" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Rodado</td>
      <td>Documentación</td>
      <td>Fecha de presentación</td>
    </tr>
  </thead>
  <tbody id="tabla">
    <!-- Veo si hay registros de boleterías para mostrar-->
    {% if object_list %}
      {% for documentacionrodado in object_list %}
        <tr>
          <td>{{documentacionrodado.id}}</td>
          <td>{{documentacionrodado.rodado}}</td>
          <td>{{documentacionrodado.documentacion.denominacion}}</td>
          <td>{{documentacionrodado.fecha|date:"d M, Y"}}</td>
          <td>
            <div class="dropdown">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Acciones
             </button>
             <div class="dropdown-menu">

             </div>

          </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay presentaciones de documentación registradas en el sistema</h1>
    <a class="btn btn-outline-success" href="{% url 'concesionaria:nueva_documentacionrodado' %}">Agregar documentación rodado</a>
    {% endif %}
  </tbody>
</table>
{% endblock %}
