{%  extends 'concesionaria/lista/base_lista.html' %}

{% block titulo_lista %} Configuración - Documentaciones{% endblock %}


  {% block boton_superior %}
  <a class="btn btn-outline-success" href="{% url 'concesionaria:nueva_documentacion' %}">Agregar documentación</a>
  {% endblock %}

{% block lista_contenido %}

<table id="listaDocumentacion" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Denominación</td>
      <td>Obligatorio</td>
    </tr>
  </thead>
  <tbody id="tabla">
    <!-- Veo si hay registros de boleterías para mostrar-->
    {% if object_list %}
      {% for documentacion in object_list %}
        <tr>
          <td>{{documentacion.id}}</td>
          <td>{{documentacion.denominacion}}</td>
          {% if documentacion.esObligatorio %}
            <td><i class="gg-check-r"></i></td>

          {% else %}
            <td></td>
          {% endif %}
          <td>
            <div class="dropdown">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Acciones
             </button>
             <div class="dropdown-menu">
                 <a class="dropdown-item" href="{% url 'concesionaria:editar_documentacion' documentacion.id %}">Editar</a>
                 <a class="dropdown-item" href="{% url 'concesionaria:eliminar_documentacion' documentacion.id %}">Eliminar</a>
             </div>

          </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay documentaciones registradas en el sistema</h1>
    <a class="btn btn-outline-success" href="{% url 'concesionaria:nueva_documentacion' %}">Agregar documentación</a>
    {% endif %}
  </tbody>
</table>
{% endblock %}
