{%  extends 'concesionaria/lista/base_lista.html' %}

{% block titulo_lista %} Configuración - Formas de pago{% endblock %}

  {% block boton_superior %}
  <a class="btn btn-outline-success" href="{% url 'concesionaria:nueva_formapago' %}">Agregar forma de pago</a>
  {% endblock %}

{% block lista_contenido %}

<table id="listaFormaPago" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Denominación</td>
    </tr>
  </thead>
  <tbody id="tabla">
    <!-- Veo si hay registros de boleterías para mostrar-->
    {% if object_list %}
      {% for forma in object_list %}
        <tr>
          <td>{{forma.id}}</td>
          <td>{{forma.denominacion}}</td>
          <td>
            <div class="dropdown">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Acciones
             </button>
             <div class="dropdown-menu">
                 <a class="dropdown-item" href="{% url 'concesionaria:editar_formapago' forma.id %}">Editar</a>
                 <a class="dropdown-item" href="{% url 'concesionaria:eliminar_formapago' forma.id %}">Eliminar</a>
             </div>

          </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay formas de pago registradas en el sistema</h1>
    <a class="btn btn-outline-success" href="{% url 'concesionaria:nueva_formapago' %}">Agregar forma de pago</a>
    {% endif %}
  </tbody>
</table>
{% endblock %}
