{%  extends 'concesionaria/lista/base_lista.html' %}

{% block titulo_lista %} Gasto de rodado{% endblock %}

  {% block boton_superior %}
  <a class="btn btn-outline-success" href="{% url 'concesionaria:nuevo_gastorodado' %}">Agregar gasto rodado</a>
  {% endblock %}

{% block lista_contenido %}
<table id="listaVenta" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Rodado</td>
      <td>Fecha</td>
      <td>Concepto</td>
      <td>Monto</td>
      <td>Razón social</td>
      <td>N°. Comprobante</td>
    </tr>
  </thead>
  <tbody id="tabla">

    {% if object_list %}
      {% for gastorodado in object_list %}
        <tr>
          <td>{{gastorodado.id}}</td>
          <td>{{gastorodado.rodado}}</td>
          <td>{{gastorodado.fecha|date:"d M, Y"}}</td>
          <td>{{gastorodado.gasto.denominacion}}</td>
          <td>{{gastorodado.montoGasto}}</td>
          <td>{{gastorodado.razonSocial}}</td>
          <td>{{gastorodado.numComprobante}}</td>
          <td>
            <div class="dropdown">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Acciones
             </button>
             <div class="dropdown-menu">
               <a class="dropdown-item" href="{% url 'concesionaria:editar_gastorodado' gastorodado.id %}">Editar</a>
             </div>

          </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay gastos de rodados registrados en el sistema</h1>
    <a class="btn btn-outline-success" href="{% url 'concesionaria:nuevo_gastorodado' %}">Agregar gasto rodado</a>
    {% endif %}
  </tbody>
</table>
{% endblock %}
