{%  extends 'concesionaria/lista/base_lista.html' %}

{% block titulo_lista %} Configuración - Marcas{% endblock %}

  {% block boton_superior %}
  <a class="btn btn-outline-success" href="{% url 'concesionaria:nueva_marca' %}">Agregar marca</a>
  {% endblock %}

{% block lista_contenido %}

<table id="listaMarca" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Denominación</td>
    </tr>
  </thead>
  <tbody id="tabla">
    <!-- Veo si hay registros de boleterías para mostrar-->
    {% if object_list %}
      {% for marca in object_list %}
        <tr>
          <td>{{marca.id}}</td>
          <td>{{marca.denominacion}}</td>
          <td>
            <div class="dropdown">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Acciones
             </button>
             <div class="dropdown-menu">
                 <a class="dropdown-item" href="{% url 'concesionaria:editar_marca' marca.id %}">Editar</a>
                 <a class="dropdown-item" href="{% url 'concesionaria:eliminar_marca' marca.id %}">Eliminar</a>
             </div>

          </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay marcas registradas en el sistema</h1>
    <a class="btn btn-outline-success" href="{% url 'concesionaria:nueva_marca' %}">Agregar marca</a>
    {% endif %}
  </tbody>
</table>
{% endblock %}
