{%  extends 'concesionaria/lista/base_lista.html' %}

{% block titulo_lista %} Configuración - Personas{% endblock %}

  {% block boton_superior %}
  <a class="btn btn-outline-success" href="{% url 'concesionaria:nueva_persona' %}">Agregar persona</a>
  {% endblock %}
{% block lista_contenido %}
<table id="listaPersona" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Denominación</td>
      <td>Teléfono</td>
      <td>Email</td>
      <td>DNI/DU</td>
      <td>ID Tributario</td>
      <td>Relación</td>

    </tr>
  </thead>
  <tbody id="tabla">
    <!-- Veo si hay registros de boleterías para mostrar-->
    {% if object_list %}
      {% for persona in object_list %}
        <tr>
          <td>{{persona.id}}</td>
          <td>{{persona.denominacion}}</td>
          <td>{{persona.telefono}}</td>
          <td>{{persona.email}}</td>
          <td>{{persona.identidad}}</td>
          <td>{{persona.nro_impositivo}}</td>
          <td>{{persona.relacionIva.denominacion}}</td>
          <td>
            <div class="dropdown">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Acciones
             </button>
             <div class="dropdown-menu">
                 <a class="dropdown-item" href="{% url 'concesionaria:editar_persona' persona.id %}">Editar</a>
                 <a class="dropdown-item" href="{% url 'concesionaria:eliminar_persona' persona.id %}">Eliminar</a>
             </div>

          </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay personas registradas en el sistema</h1>
    <a class="btn btn-outline-success" href="{% url 'concesionaria:nueva_persona' %}">Agregar persona</a>
    {% endif %}
  </tbody>
</table>
{% endblock %}
