{%  extends 'concesionaria/lista/base_lista.html' %}

{% block titulo_lista %} Configuración - Relaciones frente a IVA{% endblock %}

  {% block boton_superior %}
    <a class="btn btn-outline-success" href="{% url 'concesionaria:nueva_relacion' %}">Agregar relación frente al IVA</a>
  {% endblock %}

{% block lista_contenido %}
<table id="listaDocumentacion" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Denominación</td>
    </tr>
  </thead>
  <tbody id="tabla">
    <!-- Veo si hay registros de boleterías para mostrar-->
    {% if object_list %}
      {% for relacion in object_list %}
        <tr>
          <td>{{relacion.id}}</td>
          <td>{{relacion.denominacion}}</td>
          <td>
            <div class="dropdown">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Acciones
             </button>
             <div class="dropdown-menu">
                 <a class="dropdown-item" href="{% url 'concesionaria:editar_relacion' relacion.id %}">Editar</a>
                 <a class="dropdown-item" href="{% url 'concesionaria:eliminar_relacion' relacion.id %}">Eliminar</a>
             </div>

          </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay relaciones frente a IVA registradas en el sistema</h1>
    <a class="btn btn-outline-success" href="{% url 'concesionaria:nueva_relacion' %}">Agregar relación</a>
    {% endif %}
  </tbody>
</table>
{% endblock %}
