{%  extends 'base/base.html' %}

{% block contenido %}


<div class="row justify-content-center">

    <div class="col-sm-8">

      <div class="d-flex flex-row-reverse bg-primary">
      <div class="p-4 bg-light">Ingreso de rodados</div>
      </div>


<a class="btn btn-outline-success" href="{% url 'concesionaria:nuevo_rodado' %}">Ingresar rodado</a>

<input class="form-control" id="busqueda" type="text" placeholder="Búsqueda..."> <br>

<table id="listaRodado" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Categoría</td>
      <td>Denominación</td>
      <td>Año</td>
      <td>Patente</td>
      <td>Color</td>

    </tr>
  </thead>
  <tbody id="tabla">
    <!-- Veo si hay registros de boleterías para mostrar-->
    {% if object_list %}
      {% for rodado in object_list %}
        <tr>
          <td>{{rodado.id}}</td>
          <td>{{rodado.categoria.denominacion}}</td>
          <td>{{rodado.denominacion}}</td>
          <td>{{rodado.modelo}}</td>
          <td>{{rodado.patente}}</td>
          <td>{{rodado.color.denominacion}}</td>
          <td>
            <div class="dropdown">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Acciones
             </button>
             <div class="dropdown-menu">
                 <a class="dropdown-item" href="{% url 'concesionaria:editar_rodado' rodado.id %}">Editar</a>
                 <a class="dropdown-item" href="{% url 'concesionaria:eliminar_rodado' rodado.id %}">Eliminar</a>
             </div>

          </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay rodado registrados en el sistema</h1>
    <a class="btn btn-outline-success" href="{% url 'concesionaria:nuevo_rodado' %}">Agregar rodado</a>
    {% endif %}
  </tbody>
</table>
</div>
</div>



{% endblock %}
