{%  extends 'concesionaria/lista/base_lista.html' %}

{% block titulo_lista %} Ventas{% endblock %}

  {% block boton_superior %}
  <a class="btn btn-outline-success" href="{% url 'concesionaria:nueva_venta' %}">Agregar venta</a>
  {% endblock %}

{% block lista_contenido %}
<table id="listaVenta" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Fecha venta</td>
      <td>Cliente</td>
      <td>Tipo vehículo</td>
      <td>Marca</td>
      <td>Denominación</td>
      <td>Modelo</td>
    </tr>
  </thead>
  <tbody id="tabla">
    <!-- Veo si hay registros de boleterías para mostrar-->
    {% if object_list %}
      {% for venta in object_list %}
        <tr>
          <td>{{venta.id}}</td>
          <td>{{venta.fechaVenta|date:"d M, Y"}}</td>
          <td>{{venta.persona.denominacion}}</td>
          <td>{{venta.rodado.categoria.denominacion}}</td>
          <td>{{venta.rodado.marca.denominacion}}</td>
          <td>{{venta.rodado.denominacion}}</td>
          <td>{{venta.rodado.modelo}}</td>
          <td>
            <div class="dropdown">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Acciones
             </button>
             <div class="dropdown-menu">
               <a class="dropdown-item" href="{% url 'concesionaria:confirmar_boleto' venta.rodado.id %}">Boleto de Compraventa</a>
             </div>

          </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay ventas registradas en el sistema</h1>
    <a class="btn btn-outline-success" href="{% url 'concesionaria:nueva_venta' %}">Agregar venta</a>
    {% endif %}
  </tbody>
</table>
{% endblock %}
