{%  extends 'concesionaria/lista/base_lista.html' %}

{% block titulo_lista %} Estado de la unidad{% endblock %}

  {% block boton_superior %}
  {% endblock %}

{% block lista_contenido %}
<div class="alert alert-success">
    <strong>Información general del rodado</strong></div>
<table id="estadoRodado" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Categoría</td>
      <td>Marca</td>
      <td>Denominación</td>
      <td>Año</td>
      <td>Patente</td>
      <td>Color</td>
      <td>Motor</td>
      <td>Chasis</td>
    </tr>
  </thead>
  <tbody id="tabla">
    <!-- Veo si hay registros de boleterías para mostrar-->
    {% if rodado %}

        <tr>
          <td>{{rodado.id}}</td>
          <td>{{rodado.categoria.denominacion}}</td>
          <td>{{rodado.marca.denominacion}}</td>
          <td>{{rodado.denominacion}}</td>
          <td>{{rodado.modelo}}</td>
          <td>{{rodado.patente}}</td>
          <td>{{rodado.color}}</td>
          <td>{{rodado.motor}}</td>
          <td>{{rodado.chasis}}</td>

        </tr>

    {% else %}
    <h1>Se ha producido un error.</h1>
    {% endif %}
  </tbody>
</table>

<div class="alert alert-info">
    <strong>Información general del origen</strong></div>

    <table id="origenRodado" class='table table-striped'>
      <thead>
        <tr>
          <td># Op.</td>
          <td>Nombre/Razón social</td>
          <td>Domicilio</td>
          <td>Teléfono</td>
          <td>Email</td>
          <td>DNI/DU</td>
          <td>CUIT/CUIL</td>
          <td>IVA</td>
        </tr>
      </thead>
      <tbody id="tabla2">
        <!-- Veo si hay registros de boleterías para mostrar-->
        {% if compra %}

            <tr>
              <td>{{compra.id}}</td>
              <td>{{compra.persona.denominacion}}</td>
              <td>{{compra.persona.domicilio}}</td>
              <td>{{compra.persona.telefono}}</td>
              <td>{{compra.persona.email}}</td>
              <td>{{compra.persona.identidad}}</td>
              <td>{{compra.persona.nro_impositivo}}</td>
              <td>{{compra.persona.relacionIva.denominacion}}</td>

            </tr>

        {% else %}
        <h1>Se ha producido un error.</h1>
        {% endif %}
      </tbody>
    </table>
    <br>
    <div class="alert alert-primary">
        <strong>Estado de la documentación del rodado</strong></div>


            <table id="documentacionRodado" class='table table-striped'>
              <thead>
                <tr>
                  <td># Op.</td>
                  <td>Documentación</td>
                  <td>Estado</td>
                  <td>Fecha presentación</td>
                </tr>
              </thead>
              <tbody id="tabla3">

                {% if documentacionpendiente %}
                  {% for doc in documentacionpendiente %}
                    {% if doc.esObligatorio %}
                    <tr class="table-danger">
                    {%else%}
                    <tr class="table-warning">
                    {% endif %}
                      <td></td>
                      <td>{{doc.denominacion}}</td>
                      <td>Pendiente</td>
                      <td></td>
                    </tr>
                  {%  endfor %}
                {% endif %}

                {% if documentacionrodado %}
                  {% for doc in documentacionrodado %}
                    <tr class="table-success">
                      <td>{{doc.id}}</td>
                      <td>{{doc.documentacion.denominacion}}</td>
                      <td>Presentado</td>
                      <td>{{doc.fecha|date:"d M, Y"}}</td>
                    </tr>
                  {%  endfor %}
                {% endif %}
              </tbody>
            </table>

            <div class="alert alert-dark">
                <strong>Gastos del rodado</strong></div>


                    <table id="gastoRodado" class='table table-striped'>
                      <thead>
                        <tr>
                          <td># Op.</td>
                          <td>Concepto</td>
                          <td>Fecha</td>
                          <td>Monto</td>
                        </tr>
                      </thead>
                      <tbody id="tabla3">

                        {% if gastos %}
                          {% for g in gastos %}
                            <tr>
                              <td>{{g.id}}</td>
                              <td>{{g.gasto.denominacion}}</td>
                              <td>{{g.fecha|date:"d M, Y"}}</td>
                              <td>{{g.montoGasto}}</td>
                            </tr>
                          {%  endfor %}
                        {% endif %}


                      </tbody>

                    </table>
                    <div style="background:grey;">
                      <h5 style="text-align:right; color:white;">Total gastos: {{total}}</h5>
                    </div>

{% endblock %}
