.gg-check-r {
box-sizing: border-box;
position: relative;
display: block;
width: 22px;
height: 22px;
border: 2px solid;
transform: scale(var(--ggs,1));
border-radius: 4px
}

.gg-check-r::after {
content: "";
display: block;
box-sizing: border-box;
position: absolute;
left: 3px;
top: -1px;
width: 6px;
height: 10px;
border-width: 0 2px 2px 0;
border-style: solid;
transform-origin: bottom left;
transform: rotate(45deg)
}

.gg-log-off {
box-sizing: border-box;
position: relative;
display: inline-flex;
border-radius: 16px;
border: 2px solid;
transform: scale(var(--ggs,1));
width: 16px;
height: 16px;
border-top: 2px solid transparent
}

.gg-log-off::before {
content: "";
display: block;
box-sizing: border-box;
position: absolute;
border-radius: 3px;
height: 8px;
width: 2px;
background: currentColor;
left: 5px;
bottom: 6px
}
