{% extends 'base/base.html'  %}

{% block contenido %}
<div class="row justify-content-center">
  <div class="col-sm-8">
    <h3>Registro de venta</h3>

    <form method="post">
      {% csrf_token %}

      <select class="" name="{{form.rodado.name}}">
      {% for dispo in disponibles %}

      <option value="{{dispo.id}}"> {{dispo}} </option>

      {% endfor %}
      </select>
      <div class="form-group">
        <label for="{{form.documentacion.name}}">{{form.documentacion.label}}</label>
        {{form.documentacion}}
      </div>
      <div class="form-group">
        <label for="{{form.fecha.name}}">{{form.fecha.label}}</label>
        {{form.fecha}}
      </div>

      <button type="submit" class="btn btn-outline-success" name="button">Guardar documentación</button>
    </form>
  </div>
</div>
{% endblock %}
