{% extends 'base/base.html'  %}

{% block contenido %}
<div class="row justify-content-center">
  <div class="col-sm-8">
    <h3>Gasto de rodado</h3>

    <form method="post">
      {% csrf_token %}


<!--
      <div class="form-group">
        <label for="{{form.rodado.name}}">{{form.rodado.label}}</label>
        {{form.rodado}}
      </div>
-->
  <select class="" name="{{form.rodado.name}}">
    {% for dispo in disponibles %}
      {% if dispo == gasto.rodado %}
      <option value="{{dispo.id}}" selected>{{dispo}}</option>
      {% else %}
      <option value="{{dispo.id}}">{{dispo}}</option>
      {% endif %}
    {% endfor %}
  </select>


      <div class="form-group">
        <label for="{{form.gasto.name}}">{{form.gasto.label}}</label>
        {{form.gasto}}
      </div>
      <div class="form-group">
        <label for="{{form.fecha.name}}">{{form.fecha.label}}</label>
        {{form.fecha}}
      </div>
      <div class="form-group">
        <label for="{{form.montoGasto.name}}">{{form.montoGasto.label}}</label>
        {{form.montoGasto}}
      </div>
      <div class="form-group">
        <label for="{{form.caja.name}}">{{form.caja.label}}</label>
        {{form.caja}}
      </div>
      <div class="form-group">
        <label for="{{form.razonSocial.name}}">{{form.razonSocial.label}}</label>
        {{form.razonSocial}}
      </div>
      <div class="form-group">
        <label for="{{form.numComprobante.name}}">{{form.numComprobante.label}}</label>
        {{form.numComprobante}}
      </div>


      <button type="submit" class="btn btn-outline-success" name="button">Guardar gasto rodado</button>
    </form>
  </div>
</div>
{% endblock %}
