{% extends 'base/base.html'  %}

{% block contenido %}
<div class="row justify-content-center">
  <div class="col-sm-8">
    <h3>Carga personas</h3>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}

      <button type="submit" class="btn btn-outline-success" name="button">Guardar persona</button>
    </form>
  </div>
</div>
{% endblock %}
