{% extends 'base/base.html'  %}

{% block contenido %}
<div class="row justify-content-center">
    <div class="col-sm-8">
      <h3>Carga rodado</h3>

      <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form2.media }}



        <div class="form-group">
          <label for="{{form.montoCompra.name}}">{{form.montoCompra.label}}</label>
          {{form.montoCompra}}
        </div>

        <div class="form-group">
          <label for="{{form.cotizacionDolar.name}}">{{form.cotizacionDolar.label}}</label>
          {{form.cotizacionDolar}}
        </div>
        <div class="form-group">
          <label for="{{form.fechaCompra.name}}">{{form.fechaCompra.label}}</label>
          {{form.fechaCompra}}
        </div>

        <div class="form-group">
          <label for="{{form.persona.name}}">{{form.persona.label}}</label>
          {{form.persona}}
        </div>

        <div class="form-group">
          <label for="{{form2.categoria.name}}">{{form2.categoria.label}}</label>
          {{form2.categoria}}
        </div>
        <div class="form-group">
          <label for="{{form2.marca.name}}">{{form2.marca.label}}</label>
          {{form2.marca}}
        </div>
        <div class="form-group">
          <label for="{{form2.denominacion.name}}">{{form2.denominacion.label}}</label>
          {{form2.denominacion}}
        </div>
        <div class="form-group">
          <label for="{{form2.modelo.name}}">{{form2.modelo.label}}</label>
          {{form2.modelo}}
        </div>
        <div class="form-group">
          <label for="{{form2.color.name}}">{{form2.color.label}}</label>
          {{form2.color}}
        </div>
        <div class="form-group">
          <label for="{{form2.tipomotor.name}}">{{form2.tipomotor.label}}</label>
          {{form2.tipomotor}}
        </div>
        <div class="form-group">
          <label for="{{form2.imagen.name}}">{{form2.imagen.label}}</label>
          {{form2.imagen}}
        </div>

        <img class="thumbnail" style="height:271px; max-height: 336px; max-width:auto; width: auto;" src="/media/{{url_img}}" alt="">

        <div class="form-group">
          <label for="{{form2.patente.name}}">{{form2.patente.label}}</label>
          {{form2.patente}}
        </div>
        <div class="form-group">
          <label for="{{form2.motor.name}}">{{form2.motor.label}}</label>
          {{form2.motor}}
        </div>
        <div class="form-group">
          <label for="{{form2.chasis.name}}">{{form2.chasis.label}}</label>
          {{form2.chasis}}
        </div>

        <div class="form-group">
          <label for="{{form2.notas.name}}">{{form2.notas.label}}</label>
          {{form2.notas}}
        </div>
        <button type="submit" class="btn btn-outline-success" name="button">Guardar rodado</button>
      </form>
    </div>
</div>
{% endblock %}
