{% extends 'base/base.html'  %}

{% block contenido %}
<div class="row justify-content-center">
  <div class="col-sm-8">
    <h3>Registro de venta</h3>

    <form method="post">
      {% csrf_token %}

      <select class="" name="{{form.rodado.name}}">
      {% for dispo in disponibles %}

      <option value="{{dispo.id}}"> {{dispo}} </option>

      {% endfor %}
      </select>
      <div class="form-group">
        <label for="{{form.persona.name}}">{{form.persona.label}}</label>
        {{form.persona}}
      </div>
      <div class="form-group">
        <label for="{{form.montoVenta.name}}">{{form.montoVenta.label}}</label>
        {{form.montoVenta}}
      </div>
      <div class="form-group">
        <label for="{{form.cotizacionDolar.name}}">{{form.cotizacionDolar.label}}</label>
        {{form.cotizacionDolar}}
      </div>
      <div class="form-group">
        <label for="{{form.costoTransferencia.name}}">{{form.costoTransferencia.label}}</label>
        {{form.costoTransferencia}}
      </div>

      <div class="form-group">
        <label for="{{form.fechaVenta.name}}">{{form.fechaVenta.label}}</label>
        {{form.fechaVenta}}
      </div>

      <button type="submit" class="btn btn-outline-success" name="button">Guardar venta</button>
    </form>
  </div>
</div>
{% endblock %}
