{% extends 'base/base.html' %}

{% block contenido %}
<form method="post">
  {% csrf_token %}
  <h3>¿Desea eliminar el tipo de motor {{ object.denominacion }}?</h3>
  <button class= "btn btn-danger" type="submit" name="button">Eliminar</button>
  <a class= "btn btn-primary" href="{% url 'concesionaria:lista_tipomotor' %}">Cancelar</a>
</form>

{% endblock %}
