<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h2 style="text-align:center;">Boleto de compra venta</h2>
    <p>En la localidad de Victoria, Provincia de Entre Ríos, a los {{ venta.fechaVenta|date:"d" }} del mes de {{ venta.fechaVenta|date:"F"}},
    entre el Sr/Sra {{ venta.persona.denominacion}}, DNI N.° {{ venta.persona.identidad}},
    estado civil {{ venta.persona.estadoCivil}}, domiciliado en {{ venta.persona.domicilio}}, de la
    localidad de {{ venta.persona.localidad }}, provincia de {{ venta.persona.provincia }}, por una
    parte, en adelante el <b>COMPRADOR</b>, y por la otra el Sr. {{ persona.denominacion }}, DNI N.°
    {{ persona.identidad }}, estado civil {{ persona.estadoCivil }}, domiciliado en {{ persona.domicilio }},
    de la localidad de {{ persona.localidad }}, provincia de {{ persona.provincia }}, en adelante el <b>VENDEDOR</b>,
    convienen en celebrar el presente <b>boleto de compra venta y compromiso de transferencia</b>, sujeto
    a las cláusulas y condiciones que a continuación se especifican:</p>
    <li>1°: El <b>VENDEDOR</b> vende al <b>COMPRADOR</b> y este adquiere un vehículo dominio {{ venta.rodado.patente }}, marca {{ venta.rodado.marca }},
    modelo {{ venta.rodado.denominacion }}, motor {{ venta.rodado.motor }}, carrocería chasis N.° {{ venta.rodado.chasis }}, año de fabricacion {{ venta.rodado.modelo }}. <br>
    El rodado se encuentra funcionando y el <b>COMPRADOR</b> declara conocer el estado de conservación y uso del mismo, lo cual acepta expresamiente.
    </li>
    <br>
    <li>2°: El <b>COMPRADOR</b> se obliga a tramitar la transferencia del dominio a su nombre, dentro de los 15 días de la firma del presente, bajo
    apercibimiento de revocar la autorización para circular con el vehículo y pedido de secuestro del mismo</li>
    <br>
    <li>3°: El precio total de la operación se establece en la suma de pesos {{ venta.montoVenta }}, suma que será abonada
    de la siguiente forma . . . . . . . . . . . . . . </li>
    <br>
    <li>4°: El <b>VENDEDOR</b> declara expresamente que el automotor objeto del presente convenio no
      tiene gravámenes de ninguna naturaleza por prenda, embargo o préstamo,
      responsabilizándose por cualquier inconveniente que impidiese disponer libremente del mismo.</li>
    <br>
    <li>5°: El <b>COMPRADOR</b>en forma personal y exclusiva, será responsable civil y criminalmente,
      a partir de las 0 horas de día de la fecha, de todos los efectos derivados de la tenencia y uso del automotor,
      además se hace cargo de todos los gravámenes correspondientes.</li>
    <br>
    <li>6°: Las partes contratantes se someten para cualquier cuestión que pudiera plantearse
      entre ellos con motivo de este convenio, a la jurisdicción de los tribunales de la ciudad de
      Victoria Provincia de Entre Ríos, renunciando a cualquier otro fuero o jurisdicción que pudiera
      corresponderles, fijando domicilio en los arriba indicados donde se dará por buena y valida cualquier
      intimación o interpelación que las partes se dirijan judicial o extrajudicialmente. En prueba de conformidad
      se firman DOS ejemplares de un mismo tenor y a un solo efecto en el lugar y fecha indicados al comienzo del presente.</li>

    <br><br><br><br><br><br><br><br><br>
    <table style="width:100%; text-align: center;">
      <tr style="text-align: center;">
        <td>Vendedor</td>
        <td>Comprador</td>
      </tr>
    </table>
  </body>
</html>
