{% extends 'base/base.html'  %}

{% block contenido %}

<form method="post">
  {% csrf_token %}

  <h3>¿Quién es el vendedor?</h3>
    <select class="vendedorBoleto" name="vendedor">
      <option value="-1">Concesionaria</option>
      <option value="{{ persona.id }}"> {{ persona.denominacion }}</option>
      <button class= "btn btn-danger" type="submit" name="button">Eliminar</button>
      <a class= "btn btn-primary" href="{% url 'concesionaria:lista_venta' %}">Cancelar</a>

    </select>
    <input type="hidden" name="{{ rodado.id }}" value="{{ rodado.id }} ">
    <input type="submit" name="" value="Generar">
</form>

{% endblock %}
