<!--Lista de puertas de embarque -->

    <div class="row">
    	<div class="col-md-6">
    		<h5>Puertas de embarque</h5>
    		<hr>
    		<div class="card card-body">
    			<a class="btn btn-primary  btn-sm btn-block" href="">Crear puerta de embarque</a>
    			<table class="table table-sm">
    				<tr>
    					<th></th>
    					<th>Puerta de embarque</th>
    					<th>ID</th>
              <th>Acciones</th>
    				</tr>
            <tbody>
              <!-- Veo si hay registros de terminales para mostrar-->
              {% if object_list %}
                {% for puerta in terminal.Lasom.get_all() %}
                  <tr>
                    <td>{{puerta.id}}</td>
                    <td>{{puerta.denominacion}}</td>
                    <td>
                      <div class="dropdown">
                       <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                         Accione
                       </button>
                       <div class="dropdown-menu">
                           <a class="dropdown-item" href="{% url 'terminal:editar_lasom' puerta.id %}">Editar</a>
                           <a class="dropdown-item" href="{% url 'terminal:eliminar_lasom' puerta.id %}">Eliminar</a>
                       </div>
                     </div>
                    </td>
                  </tr>
                {% endfor %}
              {% else %}
                <h1>No hay puertas de embarque registradas en el sistema</h1>
              {% endif %}
            </tbody>
    			</table>
    		</div>
    	</div>
    </div>
